# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.log
# =========================
# Virtual environment
# =========================
.venv/
venv/
env/
# =========================
# Environment variables
# =========================
.env
.envrc
# =========================
# Generated data
# =========================
data/*.csv
data/*.tsv
# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/
